$neutral-0: #16161c; // Main Primary color */
$neutral-1: #1a1c23;
$neutral-2: #1c1e26;
$neutral-3: #232530;
$neutral-4: #2e303e;
$neutral-5: #6c6f93;

$primary-0: #e9436f;
$primary-1: #e95379;
$primary-2: #f43e5c;
$secondary-0: #09f7a0;
$secondary-1: #27d796;
$secondary-2: #21bfc2;
$secondary-3: #fab28e;

$color-complement-0: #543575; // Main Complement color */

$text: white;
$text-alt: rgb(202, 202, 202);

$text-on-dark-0: white;
$text-on-dark-1: rgb(202, 202, 202);
$text-on-light-0: black;
$text-on-light-1: rgb(119, 119, 119);
