$color-primary-0: #8f298f; // Main Primary color */
$color-primary-1: #c170c1;
$color-primary-2: #a143a1;
$color-primary-3: #7b137b;
$color-primary-4: #620662;

$color-secondary-1-0: #c53863; // Main Secondary color (1) */
$color-secondary-1-1: #ec89a7;
$color-secondary-1-2: #de5c83;
$color-secondary-1-3: #aa1a46;
$color-secondary-1-4: #87082e;

$color-secondary-2-0: #5e3496; // Main Secondary color (2) */
$color-secondary-2-1: #9b7ac6;
$color-secondary-2-2: #754ea8;
$color-secondary-2-3: #481d81;
$color-secondary-2-4: #340e67;

$color-text-0: black;
$color-text-1: rgb(119, 119, 119);
$color-text-2: white;
