$color-primary-0: #32322d; // Main Primary color */
$color-primary-1: #8b8a73;
$color-primary-2: #626154;
$color-primary-3: #141310;
$color-primary-4: #0e0d09;

$color-complement-0: #543575; // Main Complement color */
$color-complement-1: #724f99;
$color-complement-2: #68478b;
$color-complement-3: #472c64;
$color-complement-4: #3d2458;

$background: $color-primary-3;

$color-text-on-dark-0: white;
$color-text-on-dark-1: rgb(202, 202, 202);
$color-text-on-light-0: black;
$color-text-on-light-1: rgb(119, 119, 119);
