@use "base";

.dashboard {
  left: auto;
}

.guild-selector {
  left: auto;
}

.guild-dashboard {
  left: auto;
}

.channel-view {
  left: auto;
}

.message {
  left: auto;
  margin-bottom: 20px;
  display: flex;
  width: 400px;

  &-profile {
    clip-path: circle(50%);
    height: 40px;
    margin-right: 20px;
  }

  &-username {
    font-weight: bold;
    margin-right: 10px;
  }

  &-time {
    color: base.$color-text-1;
    font-size: smaller;
  }
}
