@use "base";

.message {
  padding: 10px;
  display: flex;

  &-profile {
    clip-path: circle(50%);
    height: 40px;
    margin-right: 10px;
  }

  &-username {
    font-weight: bold;
    margin-right: 10px;
  }

  &-time {
    color: base.$text-on-dark-1;
    font-size: smaller;
  }

  .light &-time {
    color: base.$text-on-light-1;
  }

  .censored {
    filter: blur(3px);
  }
  .censored:hover {
    filter: none;
  }
}

.light {
  color: base.$text-on-light-0;
}
