@use "base";

.dashboard {
  left: auto;
}

.guild-selector {
  left: auto;
}

.guild-dashboard {
  left: auto;
  &-channels-container {
    display: flex;
    justify-content: space-around;
  }
}

.channel-view {
  width: 400px;
  $height: 75vh;

  &-content-wrapper {
    min-height: 600px;
    height: $height;
    overflow-y: scroll;
  }

  &-content-container {
    display: flex;
    flex-direction: column-reverse;
    min-height: $height;
  }
}

.message {
  padding: 10px;
  display: flex;

  &-profile {
    clip-path: circle(50%);
    height: 40px;
    margin-right: 10px;
  }

  &-username {
    font-weight: bold;
    margin-right: 10px;
  }

  &-time {
    color: base.$color-text-1;
    font-size: smaller;
  }

  .dark &-time {
    color: base.$color-text-3;
  }
}

.dark {
  color: base.$color-text-2;
}
