@use "base";

$header-height: 120px;
$footer-height: 120px;

.header {
  background-color: base.$color-primary-0;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  color: base.$color-text-2;

  h1 {
    margin: 0;
    font-weight: 200;
    font-size: 50px;
    text-transform: uppercase;
    line-height: $header-height;

    b {
      font-weight: 600;
    }
  }

  .login {
    vertical-align: middle;
  }
}

.content {
  padding: 0 50px;
  min-height: calc(100vh - #{$header-height + $footer-height});
}

.footer {
  background-color: base.$color-primary-0;
  height: $footer-height;
}
