@use "base";

.header {
  $height: 120px;

  background-color: base.$color-primary-0;
  height: $height;

  h1 {
    color: white;
    margin: 0;
    margin-left: 30px;
    font-weight: 200;
    font-size: 50px;
    text-transform: uppercase;
    line-height: $height;

    b {
      font-weight: 600;
    }
  }
}

.content {
  padding: 0 50px;
}
